# just a bunch of things that i forgot to add to the .dockerignore
.git
.gitignore
.gitattributes
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

venv/
.venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.poetry/

target/
.sbt/
.bloop/
.metals/
project/project/
project/target/
metals.sbt
*.class
*.jar

.env
*.pem
*.key
*.id_rsa
config/secrets.*
secrets/
*.log

data/
*.csv
*.json
*.parquet
docs/
*.md