# just a bunch of things that i forgot to add to the .dockerignore
.git
.gitignore
.gitattributes

venv/
.venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.poetry/

target/
.sbt/
.bloop/
.metals/
project/project/
project/target/
*.class
*.jar

.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

.env
*.pem
*.key
*.id_rsa
config/secrets.*
secrets/

*.log
docs/

.bloop/
.metals/
.vscode/
metals.sbt
.git/
*.md
database/crud/project/metals.sbt
.bloop/